

*{
  background-color: aqua;
}
.App {
  text-align: center;
}
.container{
  display: flex;
  justify-content: space-between;

}
.title{
  color: blueviolet;
  width: 5%;
  font-size: 60px;
}
.justify-content-end{
  font-size: larger;
  font-style: italic;
  color: rgb(13, 14, 13);
}
.introduction{
  display: flex;
  justify-content: space-evenly;

}
.lore{
padding: 30px;
}
